<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <h2>Login</h2>
    <form method="post" action="{% url 'login' %}" id="loginForm">
        {% csrf_token %}
        <label for="username">Username:</label>
        <input type="text" name="username" required><br>
        <label for="password">Password:</label>
        <input type="password" name="password" required><br>
        <input type="hidden" name="device_time" id="device_time"><br>
        <button type="submit">Login</button>
    </form>

    <script>
        document.getElementById('loginForm').addEventListener('submit', function() {
            var currentDateTime = new Date().toISOString(); // Get the current date and time in ISO format
            document.getElementById('device_time').value = currentDateTime; // Set the hidden field value
        });
    </script>
</body>
</html>
